stages:
  - linting

flake8:
  stage: linting
  image: registry.gitlab.com/pipeline-components/flake8:latest
  script:
    - flake8 --verbose .
  
  black:
    stage: linting
    image: registry.gitlab.com/pipeline-components/black:latest
    scripts: 
      -black --chech --verbose --line-length 79 --skip-string-normalization -- .
